<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="net.rjones.names" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Names In A Hat</name>
  <description>
        An app of the party game aka Celebrity.
    </description>
  <author email="robjones9109@gmail.com" href="http://twitter.com/robjones">
      Rob Jones
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <gap:plugin name="com.ionic.keyboard" version="1.0.3" />
  <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
</widget>
